 <blockquote>
  <p>AMIS ("AMIS") designate Asset Management Instruments acting as one-stop shop Multi-dimensional, multi-purposes fast moving, versatile transactional vehicles running on the ethereum blockchain natively. The AMIS is a transactional vehicle acting as asset management instrument for decentralized services running on the blockchain in today's digital economy ecosystem.</p>
  <footer><a href="http://ami-solution.github.io/amisdex/" target="_blank">http://ami-solution.github.io/amisdex/</a></footer>
</blockquote>
